##tif File Class Frequency

Development Environment
<br/>xml Parsing
<br/>Detailed Class Frequency Dataframe
<br/>Class Frequency Dataframe

#Development Environment

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os
import random
import pandas as pd
from pandas import option_context
from glob import glob
from termcolor import colored
import matplotlib.pyplot as plt
from IPython.display import HTML
from IPython.display import display

#xml Parsing

In [ ]:
def xml_file_list(xml_folder):
  label = glob(xml_folder+'/labelXml'+'/*')
  label = sorted(label, reverse=False)
  label = sorted(label, key=len)
  return label

In [ ]:
xml_folder_path = '/content/drive/MyDrive/Aiffelthon/eda/xml_data'
xml_folder_list = [xml_folder_path + '/train/train_part1_xml', xml_folder_path + '/train/train_part2_xml',
                   xml_folder_path + '/validation/vaildation_xml']

In [ ]:
for i in xml_folder_list:
  if 'train_part1' in i:
    train_part1_label = xml_file_list(i)
  elif 'train_part2' in i:
    train_part2_label = xml_file_list(i)
  elif 'validation' in i:
    validation_label = xml_file_list(i)

In [ ]:
train_label = train_part1_label + train_part2_label

In [ ]:
import xml.etree.ElementTree as ET
import xml.etree.ElementTree

tree = ET.parse(train_label[0])
root = tree.getroot()
ET.dump(tree)

<annotation>
	<source>
		<filename>0.tif</filename>
		<origin>GF2/GF3</origin>
	</source>
	<research>
		<version>1.0</version>
		<provider>FAIR1M</provider>
		<author>Cyber</author>
		<pluginname>FAIR1M</pluginname>
		<pluginclass>object detection</pluginclass>
		<time>2021-07-21</time>
	</research>
	<size>
		<width>1500</width>
		<height>1500</height>
		<depth>3</depth>
	</size>
	<objects>
		<object>
			<coordinate>pixel</coordinate>
			<type>rectangle</type>
			<description>None</description>
			<possibleresult>
				<name>Liquid Cargo Ship</name>
			</possibleresult>
			<points>
				<point>1275.000000,458.000000</point>
				<point>1494.000000,88.000000</point>
				<point>1417.000000,43.000000</point>
				<point>1199.000000,414.000000</point>
				<point>1275.000000,458.000000</point>
			</points>
		</object>
		<object>
			<coordinate>pixel</coordinate>
			<type>rectangle</type>
			<description>None</description>
			<possibleresult>
				<name>Passenger Ship</name>
			</possibleresult>
			<points>
				<point>630.000000,403.000000</point>
				<point>586.000000,385.000000</point>
				<point>582.000000,397.000000</point>
				<point>625.000000,414.000000</point>
				<point>630.000000,403.000000</point>
			</points>
		</object>
		<object>
			<coordinate>pixel</coordinate>
			<type>rectangle</type>
			<description>None</description>
			<possibleresult>
				<name>Dry Cargo Ship</name>
			</possibleresult>
			<points>
				<point>591.000000,1531.000000</point>
				<point>761.000000,1377.000000</point>
				<point>718.000000,1332.000000</point>
				<point>549.000000,1486.000000</point>
				<point>591.000000,1531.000000</point>
			</points>
		</object>
	</objects>
</annotation>

In [ ]:
print(root[0][0].tag, root[0][0].text)
for i in root[3]:
  for child in i[3]:
    print(child.tag, child.text)

filename 0.tif
name Liquid Cargo Ship
name Passenger Ship
name Dry Cargo Ship

In [ ]:
print(root[0][0].text)
for i in root[3]:
  for child in i[3]:
    if 'Truck' in child.text or 'Tractor' in child.text or 'Excavator' in child.text \
    or 'Trailer' in child.text or 'Van' == child.text or 'Car' in child.text or 'other-vehicle' == child.text:
      print('vehicle')
    elif 'A2' in child.text or 'A3' in child.text or 'Boeing' in child.text \
    or 'ARJ21' == child.text or 'C919' == child.text or 'other-airplane' == child.text:
      print('airplane')
    elif 'Ship' in child.text or 'boat' in child.text or 'Boat' in child.text \
    or 'Warship' == child.text or 'other-airplane' == child.text:
      print('ship')

0.tif
vehicle
ship
vehicle

#Detailed Class Frequency Dataframe

In [ ]:
def tif_file_detailed_class_frequency_df(label):
  tif_detailed_class_frequency_df = pd.DataFrame()
  
  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()
    detailed_class_df_element = []
    detailed_class_df_element.append(root[0][0].text)
    
    dump_truck = 0; cargo_truck = 0; truck_tractor = 0; tractor = 0; excavator = 0; trailer = 0; van = 0
    small_car = 0; bus = 0; other_vehicle = 0; dry_cargo_ship = 0; liquid_cargo_ship = 0; motorboat = 0
    fishing_boat = 0; tug_boat = 0; engineering_ship = 0; warship = 0; passenger_ship = 0; other_ship = 0
    a220 = 0; a321 = 0; a330 = 0; a350 = 0; boeing737 = 0; boeing747 = 0; boeing777 = 0; boeing787 = 0; arj21 = 0; c919 = 0; other_airplane = 0
    

    for i in root[3]:
      for child in i[3]:
        if 'Dump Truck' == child.text: dump_truck += 1
        if 'Cargo Truck' == child.text: cargo_truck += 1        
        if 'Truck Tractor' == child.text: truck_tractor += 1
        if 'Tractor' == child.text: tractor += 1        
        if 'Excavator' == child.text: excavator += 1        
        if 'Trailer' == child.text: trailer += 1
        if 'Van' == child.text: van += 1  
        if 'Small Car' == child.text: small_car += 1        
        if 'Bus' == child.text: bus += 1
        if 'other-vehicle' == child.text: other_vehicle += 1

        if 'Dry Cargo Ship' == child.text: dry_cargo_ship += 1        
        if 'Liquid Cargo Ship' == child.text: liquid_cargo_ship += 1
        if 'Motorboat' == child.text: motorboat += 1        
        if 'Fishing Boat' == child.text: fishing_boat += 1
        if 'Tugboat' == child.text: tug_boat += 1
        if 'Engineering Ship' == child.text: engineering_ship += 1        
        if 'Warship' == child.text: warship += 1
        if 'Passenger Ship' == child.text: passenger_ship += 1        
        if 'other-ship' == child.text: other_ship += 1 

        if 'A220' == child.text: a220 += 1        
        if 'A321' == child.text: a321 += 1
        if 'A330' == child.text: a330 += 1        
        if 'A350' == child.text: a350 += 1        
        if 'Boeing737' == child.text: boeing737 += 1
        if 'Boeing747' == child.text: boeing747 += 1        
        if 'Boeing777' == child.text: boeing777 += 1
        if 'Boeing787' == child.text: boeing787 += 1
        if 'ARJ21' == child.text: arj21 += 1        
        if 'C919' == child.text: c919 += 1
        if 'other-airplane' == child.text: other_airplane += 1 

    detailed_class_list = [dump_truck, cargo_truck, truck_tractor, tractor, excavator, trailer, 
                           van, small_car, bus, other_vehicle, dry_cargo_ship, liquid_cargo_ship,
                           motorboat, fishing_boat, tug_boat, engineering_ship, warship,
                           passenger_ship, other_ship, a220, a321, a330, a350, boeing737,
                           boeing747, boeing777, boeing787, arj21, c919, other_airplane]

    for i in detailed_class_list:
      detailed_class_df_element.append(i)

    df = pd.DataFrame([detailed_class_df_element])
    tif_detailed_class_frequency_df = tif_detailed_class_frequency_df.append(df)

  tif_detailed_class_frequency_df.columns = ['File', 'Dump Truck', 'Cargo Truck', 'Truck Tractor', 'Tractor', 'Excavator', 'Trailer', 'Van', 'Small Car', 'Bus', 'other-vehicle',
                                             'Dry Cargo Ship', 'Liquid Cargo Ship', 'Motorboat', 'Fishing Boat', 'Tugboat', 'Engineering Ship', 'Warship', 'Passenger Ship', 'other-ship',
                                             'A220', 'A321', 'A330',  'A350', 'Boeing737', 'Boeing747', 'Boeing777', 'Boeing787', 'ARJ21', 'C919', 'other-airplane']

  tif_detailed_class_frequency_df = tif_detailed_class_frequency_df.reset_index()
  del tif_detailed_class_frequency_df['index']
  return tif_detailed_class_frequency_df

In [ ]:
train_tif_detailed_class_frequency_df = tif_file_detailed_class_frequency_df(train_label)
validation_tif_detailed_class_frequency_df = tif_file_detailed_class_frequency_df(validation_label)

In [ ]:
train_tif_detailed_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/train_tif_detailed_class_frequency.csv', index = False)
validation_tif_detailed_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/validation_tif_detailed_class_frequency.csv', index = False)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/' + '*tif_detailed_class_frequency.csv')
csv_files = sorted(csv_files, reverse=False)  
  
count = 0
for f in csv_files:
  count += 1
  df = pd.read_csv(f)
  file_name = ' '.join(s for s in f.split("/")[-1].split("_")[:-4])
  print(colored(file_name, attrs=['bold']))
  print()
  display(df)
  if count != len(csv_files):
    print("\n" * 2)

train

,File,Dump Truck,Cargo Truck,Truck Tractor,Tractor,Excavator,Trailer,Van,Small Car,Bus,...,A321,A330,A350,Boeing737,Boeing747,Boeing777,Boeing787,ARJ21,C919,other-airplane
0,0.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.tif,6,46,0,0,0,0,10,6,0,...,0,0,0,0,0,0,0,0,0,0
2,2.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,3.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16483,16483.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,1,2,0,0,0,0,0
16484,16484.tif,2,0,0,0,1,2,14,27,1,...,0,0,0,0,0,0,0,0,0,0
16485,16485.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16486,16486.tif,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16487,16487.tif,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

validation

,File,Dump Truck,Cargo Truck,Truck Tractor,Tractor,Excavator,Trailer,Van,Small Car,Bus,...,A321,A330,A350,Boeing737,Boeing747,Boeing777,Boeing787,ARJ21,C919,other-airplane
0,0.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.tif,0,0,0,0,5,0,3,4,1,...,0,0,0,0,0,0,0,0,0,0
2,2.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4.tif,1,14,0,0,0,1,16,9,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,8282.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8283,8283.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8284,8284.tif,0,0,0,0,0,0,45,13,0,...,0,0,0,0,0,0,0,0,0,0
8285,8285.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8286,8286.tif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#Vehicle Class Frequency Dataframe

In [ ]:
def tif_file_vehicle_class_frequency_df(label):
  tif_vehicle_class_frequency_df = pd.DataFrame()
  
  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()
    vehicle_class_df_element = []
    vehicle_class_df_element.append(root[0][0].text)
    
    dump_truck = 0; cargo_truck = 0; truck_tractor = 0; tractor = 0;
    excavator = 0; trailer = 0; van = 0; small_car = 0; bus = 0; other_vehicle = 0; 

    for i in root[3]:
      for child in i[3]:
        if 'Dump Truck' == child.text: dump_truck += 1
        if 'Cargo Truck' == child.text: cargo_truck += 1        
        if 'Truck Tractor' == child.text: truck_tractor += 1
        if 'Tractor' == child.text: tractor += 1        
        if 'Excavator' == child.text: excavator += 1        
        if 'Trailer' == child.text: trailer += 1
        if 'Van' == child.text: van += 1  
        if 'Small Car' == child.text: small_car += 1        
        if 'Bus' == child.text: bus += 1
        if 'other-vehicle' == child.text: other_vehicle += 1

    vehicle_class_list = [dump_truck, cargo_truck, truck_tractor, tractor,
                           excavator, trailer, van, small_car, bus, other_vehicle]

    for i in vehicle_class_list:
      vehicle_class_df_element.append(i)

    df = pd.DataFrame([vehicle_class_df_element])
    tif_vehicle_class_frequency_df = tif_vehicle_class_frequency_df.append(df)

  tif_vehicle_class_frequency_df.columns = ['File', 'Dump Truck', 'Cargo Truck', 'Truck Tractor', 'Tractor',
                                             'Excavator', 'Trailer', 'Van', 'Small Car', 'Bus', 'other-vehicle']

  tif_vehicle_class_frequency_df = tif_vehicle_class_frequency_df.reset_index()
  del tif_vehicle_class_frequency_df['index']
  return tif_vehicle_class_frequency_df

In [ ]:
train_tif_vehicle_class_frequency_df = tif_file_vehicle_class_frequency_df(train_label)
validation_tif_vehicle_class_frequency_df = tif_file_vehicle_class_frequency_df(validation_label)

In [ ]:
train_tif_vehicle_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/train_tif_vehicle_class_frequency.csv', index = False)
validation_tif_vehicle_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/validation_tif_vehicle_class_frequency.csv', index = False)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/' + '*tif_vehicle_class_frequency.csv')
csv_files = sorted(csv_files, reverse=False)  
  
count = 0
for f in csv_files:
  count += 1
  df = pd.read_csv(f)
  file_name = ' '.join(s for s in f.split("/")[-1].split("_")[:-4])
  print(colored(file_name, attrs=['bold']))
  print()
  display(df)
  if count != len(csv_files):
    print("\n" * 2)

train

,File,Dump Truck,Cargo Truck,Truck Tractor,Tractor,Excavator,Trailer,Van,Small Car,Bus,other-vehicle
0,0.tif,0,0,0,0,0,0,0,0,0,0
1,1.tif,6,46,0,0,0,0,10,6,0,0
2,2.tif,0,0,0,0,0,0,0,0,0,0
3,3.tif,0,0,0,0,0,0,0,0,0,0
4,4.tif,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
16483,16483.tif,0,0,0,0,0,0,0,0,0,0
16484,16484.tif,2,0,0,0,1,2,14,27,1,0
16485,16485.tif,0,0,0,0,0,0,0,0,0,0
16486,16486.tif,0,0,0,0,0,0,0,0,0,0
16487,16487.tif,0,0,0,0,0,0,0,0,0,0

validation

,File,Dump Truck,Cargo Truck,Truck Tractor,Tractor,Excavator,Trailer,Van,Small Car,Bus,other-vehicle
0,0.tif,0,0,0,0,0,0,0,0,0,0
1,1.tif,0,0,0,0,5,0,3,4,1,7
2,2.tif,0,0,0,0,0,0,0,0,0,0
3,3.tif,0,0,0,0,0,0,0,0,0,0
4,4.tif,1,14,0,0,0,1,16,9,0,3
...,...,...,...,...,...,...,...,...,...,...,...
8282,8282.tif,0,0,0,0,0,0,0,0,0,0
8283,8283.tif,0,0,0,0,0,0,0,0,0,0
8284,8284.tif,0,0,0,0,0,0,45,13,0,1
8285,8285.tif,0,0,0,0,0,0,0,0,0,0
8286,8286.tif,0,0,0,0,0,0,0,0,0,0

#Ship Class Frequency Dataframe

In [ ]:
def tif_file_ship_class_frequency_df(label):
  tif_ship_class_frequency_df = pd.DataFrame()
  
  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()
    ship_class_df_element = []
    ship_class_df_element.append(root[0][0].text)

    dry_cargo_ship = 0; liquid_cargo_ship = 0; motorboat = 0; fishing_boat = 0
    tug_boat = 0; engineering_ship = 0; warship = 0; passenger_ship = 0; other_ship = 0

    for i in root[3]:
      for child in i[3]:
        if 'Dry Cargo Ship' == child.text: dry_cargo_ship += 1        
        if 'Liquid Cargo Ship' == child.text: liquid_cargo_ship += 1
        if 'Motorboat' == child.text: motorboat += 1        
        if 'Fishing Boat' == child.text: fishing_boat += 1
        if 'Tugboat' == child.text: tug_boat += 1
        if 'Engineering Ship' == child.text: engineering_ship += 1        
        if 'Warship' == child.text: warship += 1
        if 'Passenger Ship' == child.text: passenger_ship += 1        
        if 'other-ship' == child.text: other_ship += 1 

    ship_class_list = [dry_cargo_ship, liquid_cargo_ship, motorboat, fishing_boat,
                       tug_boat, engineering_ship, warship, passenger_ship, other_ship]

    for i in ship_class_list:
      ship_class_df_element.append(i)

    df = pd.DataFrame([ship_class_df_element])
    tif_ship_class_frequency_df = tif_ship_class_frequency_df.append(df)

  tif_ship_class_frequency_df.columns = ['File', 'Dry Cargo Ship', 'Liquid Cargo Ship', 'Motorboat',
                                         'Fishing Boat', 'Tugboat', 'Engineering Ship', 'Warship', 'Passenger Ship', 'other-ship']

  tif_ship_class_frequency_df = tif_ship_class_frequency_df.reset_index()
  del tif_ship_class_frequency_df['index']
  return tif_ship_class_frequency_df

In [ ]:
train_tif_ship_class_frequency_df = tif_file_ship_class_frequency_df(train_label)
validation_tif_ship_class_frequency_df = tif_file_ship_class_frequency_df(validation_label)

In [ ]:
train_tif_ship_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/train_tif_ship_class_frequency.csv', index = False)
validation_tif_ship_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/validation_tif_ship_class_frequency.csv', index = False)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/' + '*tif_ship_class_frequency.csv')
csv_files = sorted(csv_files, reverse=False)  
  
count = 0
for f in csv_files:
  count += 1
  df = pd.read_csv(f)
  file_name = ' '.join(s for s in f.split("/")[-1].split("_")[:-4])
  print(colored(file_name, attrs=['bold']))
  print()
  display(df)
  if count != len(csv_files):
    print("\n" * 2)

train

,File,Dry Cargo Ship,Liquid Cargo Ship,Motorboat,Fishing Boat,Tugboat,Engineering Ship,Warship,Passenger Ship,other-ship
0,0.tif,1,1,0,0,0,0,0,1,0
1,1.tif,0,0,0,0,0,0,0,0,0
2,2.tif,0,0,0,0,0,0,0,0,0
3,3.tif,0,0,0,0,0,0,0,0,0
4,4.tif,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
16483,16483.tif,0,0,0,0,0,0,0,0,0
16484,16484.tif,0,0,0,0,0,0,0,0,0
16485,16485.tif,0,0,0,0,0,0,0,0,0
16486,16486.tif,0,0,0,0,0,0,0,0,0
16487,16487.tif,0,0,0,0,0,0,0,0,0

validation

,File,Dry Cargo Ship,Liquid Cargo Ship,Motorboat,Fishing Boat,Tugboat,Engineering Ship,Warship,Passenger Ship,other-ship
0,0.tif,1,0,0,0,0,0,0,0,0
1,1.tif,0,0,0,0,0,0,0,0,0
2,2.tif,0,0,0,0,0,0,0,0,0
3,3.tif,0,0,2,0,0,0,0,1,0
4,4.tif,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8282,8282.tif,0,0,0,0,0,0,0,0,1
8283,8283.tif,0,0,0,0,0,0,0,0,1
8284,8284.tif,0,0,0,0,0,0,0,0,0
8285,8285.tif,0,0,0,0,0,0,0,0,0
8286,8286.tif,0,0,6,0,0,0,3,0,3

#Airplane Class Frequency Dataframe

In [ ]:
def tif_file_airplane_class_frequency_df(label):
  tif_airplane_class_frequency_df = pd.DataFrame()
  
  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()
    airplane_class_df_element = []
    airplane_class_df_element.append(root[0][0].text)
    
    a220 = 0; a321 = 0; a330 = 0; a350 = 0; boeing737 = 0; boeing747 = 0;
    boeing777 = 0; boeing787 = 0; arj21 = 0; c919 = 0; other_airplane = 0

    for i in root[3]:
      for child in i[3]:
        if 'A220' == child.text: a220 += 1        
        if 'A321' == child.text: a321 += 1
        if 'A330' == child.text: a330 += 1        
        if 'A350' == child.text: a350 += 1        
        if 'Boeing737' == child.text: boeing737 += 1
        if 'Boeing747' == child.text: boeing747 += 1        
        if 'Boeing777' == child.text: boeing777 += 1
        if 'Boeing787' == child.text: boeing787 += 1
        if 'ARJ21' == child.text: arj21 += 1        
        if 'C919' == child.text: c919 += 1
        if 'other-airplane' == child.text: other_airplane += 1 

    airplane_class_list = [a220, a321, a330, a350, boeing737, boeing747,
                           boeing777, boeing787, arj21, c919, other_airplane]

    for i in airplane_class_list:
      airplane_class_df_element.append(i)

    df = pd.DataFrame([airplane_class_df_element])
    tif_airplane_class_frequency_df = tif_airplane_class_frequency_df.append(df)

  tif_airplane_class_frequency_df.columns = ['File', 'A220', 'A321', 'A330',  'A350', 'Boeing737',
                                             'Boeing747', 'Boeing777', 'Boeing787', 'ARJ21', 'C919', 'other-airplane']

  tif_airplane_class_frequency_df = tif_airplane_class_frequency_df.reset_index()
  del tif_airplane_class_frequency_df['index']
  return tif_airplane_class_frequency_df

In [ ]:
train_tif_airplane_class_frequency_df = tif_file_airplane_class_frequency_df(train_label)
validation_tif_airplane_class_frequency_df = tif_file_airplane_class_frequency_df(validation_label)

In [ ]:
train_tif_airplane_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/train_tif_airplane_class_frequency.csv', index = False)
validation_tif_airplane_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/validation_tif_airplane_class_frequency.csv', index = False)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/' + '*tif_airplane_class_frequency.csv')
csv_files = sorted(csv_files, reverse=False)  

count = 0
for f in csv_files:
  count += 1
  df = pd.read_csv(f)
  file_name = ' '.join(s for s in f.split("/")[-1].split("_")[:-4])
  print(colored(file_name, attrs=['bold']))
  print()
  display(df)
  if count != len(csv_files):
    print("\n" * 2)

train

,File,A220,A321,A330,A350,Boeing737,Boeing747,Boeing777,Boeing787,ARJ21,C919,other-airplane
0,0.tif,0,0,0,0,0,0,0,0,0,0,0
1,1.tif,0,0,0,0,0,0,0,0,0,0,0
2,2.tif,2,0,0,0,1,0,0,0,0,0,0
3,3.tif,0,0,0,0,0,0,0,0,0,0,0
4,4.tif,0,0,0,0,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16483,16483.tif,1,0,0,0,1,2,0,0,0,0,0
16484,16484.tif,0,0,0,0,0,0,0,0,0,0,0
16485,16485.tif,1,0,0,0,0,0,0,0,0,0,1
16486,16486.tif,0,0,1,0,0,0,0,0,0,0,0
16487,16487.tif,1,1,0,0,1,0,0,0,0,0,0

validation

,File,A220,A321,A330,A350,Boeing737,Boeing747,Boeing777,Boeing787,ARJ21,C919,other-airplane
0,0.tif,0,0,0,0,0,0,0,0,0,0,0
1,1.tif,0,0,0,0,0,0,0,0,0,0,0
2,2.tif,0,0,0,0,0,0,0,0,0,0,0
3,3.tif,0,0,0,0,0,0,0,0,0,0,0
4,4.tif,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8282,8282.tif,0,0,0,0,0,0,0,0,0,0,0
8283,8283.tif,0,0,0,0,0,0,0,0,0,0,0
8284,8284.tif,0,0,0,0,0,0,0,0,0,0,0
8285,8285.tif,0,0,0,0,0,0,0,0,0,0,0
8286,8286.tif,0,0,0,0,0,0,0,0,0,0,0

#Class Frequency Dataframe

In [ ]:
def tif_file_class_frequency_df(label):
  tif_class_frequency_df = pd.DataFrame()
  
  for i in label:
    tree = ET.parse(i)
    root = tree.getroot()
    class_df_element = []
    class_df_element.append(root[0][0].text)

    vehicle = 0
    ship = 0
    airplane = 0

    for i in root[3]:
      for child in i[3]:
        if 'Dump Truck' == child.text or 'Cargo Truck' == child.text or  'Truck Tractor' == child.text \
        or 'Tractor' == child.text or 'Excavator' == child.text or 'Trailer' == child.text or 'Van' == child.text \
        or 'Small Car' == child.text or 'Bus' == child.text or 'other-vehicle' == child.text:
          vehicle += 1
        
        elif 'Dry Cargo Ship' == child.text or 'Liquid Cargo Ship' == child.text or 'Motorboat' == child.text \
        or 'Fishing Boat' == child.text or 'Tugboat' == child.text or 'Engineering Ship' == child.text \
        or 'Warship' == child.text or 'Passenger Ship' == child.text or 'other-ship' == child.text:
          ship += 1

        elif 'A220' == child.text or 'A321' == child.text or 'A330' == child.text or  'A350' == child.text \
        or 'Boeing737' == child.text or 'Boeing747' == child.text or 'Boeing777' == child.text or 'Boeing787' == child.text \
        or 'ARJ21' == child.text or 'C919' == child.text or 'other-airplane' == child.text:
          airplane += 1

    class_list = [vehicle, ship, airplane]

    for i in class_list:
      class_df_element.append(i)

    df = pd.DataFrame([class_df_element])
    tif_class_frequency_df = tif_class_frequency_df.append(df)

  tif_class_frequency_df.columns = ['File', 'Vehicle', 'Ship', 'Airplane']
  tif_class_frequency_df = tif_class_frequency_df.reset_index()
  del tif_class_frequency_df['index']

  return tif_class_frequency_df

In [ ]:
train_tif_class_frequency_df = tif_file_class_frequency_df(train_label)
validation_tif_class_frequency_df = tif_file_class_frequency_df(validation_label)

In [ ]:
train_tif_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/train_tif_class_frequency.csv', index = False)
validation_tif_class_frequency_df.to_csv('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/validation_tif_class_frequency.csv', index = False)

In [ ]:
csv_files = glob('/content/drive/MyDrive/Aiffelthon/eda/tif_file_class_frequency/' + '*tif_class_frequency.csv')
csv_files = sorted(csv_files, reverse=False)  

count = 0
for f in csv_files:
  count += 1
  df = pd.read_csv(f)
  file_name = ' '.join(s for s in f.split("/")[-1].split("_")[:-3])
  print(colored(file_name, attrs=['bold']))
  print()
  display(df)
  if count != len(csv_files):
    print("\n" * 2)

train

            File  Vehicle  Ship  Airplane
0          0.tif        0     3         0
1          1.tif       68     0         0
2          2.tif        0     0         3
3          3.tif        0     0         0
4          4.tif        0     0         2
...          ...      ...   ...       ...
16483  16483.tif        0     0         4
16484  16484.tif       47     0         0
16485  16485.tif        0     0         2
16486  16486.tif        0     0         1
16487  16487.tif        0     0         3

[16488 rows x 4 columns]

validation

          File  Vehicle  Ship  Airplane
0        0.tif        0     1         0
1        1.tif       20     0         0
2        2.tif        0     0         0
3        3.tif        0     3         0
4        4.tif       44     0         0
...        ...      ...   ...       ...
8282  8282.tif        0     1         0
8283  8283.tif        0     1         0
8284  8284.tif       59     0         0
8285  8285.tif        0     0         0
8286  8286.tif        0    12         0

[8287 rows x 4 columns]